<div id="pins" class="transitions-enabled clearfix masonry">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <img src="<%= pin.image_url %>" alt="<%= pin.title %>">
        <h2><%= pin.title %></h2>
      </div>
    </div>
  <% end %>
</div>